<%= tag.div(flash[:alert], style: "color:red") if flash[:alert] %>
<%= tag.div(flash[:notice], style: "color:green") if flash[:notice] %>

<%= form_with model: @user, url: users_path do |form| %>
  <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", placeholder: "Enter your email address", value: params[:email_address] %><br>
  <%= form.password_field :password, required: true, autocomplete: "current-password", placeholder: "Enter your password", maxlength: 72 %><br>
  <%= form.select :locale, [:en, :es] %><br/>
  CD: <%= form.checkbox :cd %>
  Agent: <%= form.checkbox :agent %>
  Actor: <%= form.checkbox :actor, data: {controller: 'form-toggle', "action" => 'click->form-toggle#toggle', "form-toggle-id-param" => 'actor-form'} %>
  <br/>
  <%# Worth investigating disabling this at some point %>
  <div data-form-toggle-target="actor-form" class="hidden invisible" id="actor-form">
    <%= form.fields_for :actor_functionality do |actor_subform| %>
      <%= actor_subform.text_area :about_me, placeholder: 'Say something about yourself' %><br>
      <%= actor_subform.text_field :name, placeholder: 'Enter your name' %><br>
      <%= actor_subform.text_field :city, placeholder: 'Enter your city' %><br>
    <% end %>
  </div>

  <%= form.submit "Sign in" %>
<% end %>