<div class="bg-gray-100">
  <main class="py-8">

    <section class="text-center bg-white shadow-sm rounded-lg p-6 mb-8">
      <h1 class="text-4xl font-extrabold text-gray-900">Welcome to Casting Connections</h1>
      <p class="mt-4 text-lg text-gray-700">Discover top-tier talent and connect with outstanding actors for your next
        production. Whether you're casting for film, theater, or commercials, we simplify talent discovery and provide a
        seamless experience. Start your search today!</p>
    </section>
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <% if @actors.present? %>
        <h1 class="text-2xl mx-12 font-bold text-gray-800 mb-4">Featured Actors</h1>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
          <% @actors.each do |actor| %>
            <div class="bg-white shadow rounded-lg p-4">
              <h2 class="text-lg font-semibold text-gray-900"><%= actor.name %></h2>
              <p class="text-gray-600"><%= actor.about_me.truncate(100) %></p>
              <%= image_tag actor.pfp, alt: actor.name, class: "mt-2 w-30 h-30 object-cover rounded-lg" if actor.pfp.present? %>
              <%= link_to "View Profile", actor_path(actor), class: "block mt-4 text-indigo-600 hover:underline font-medium" %>
            </div>
          <% end %>
        </div>

        <div class="mt-6 text-right">
          <%= link_to "See More Profiles", actors_path, class: "text-indigo-600 hover:underline font-medium" %>
        </div>
      <% else %>
        <h1 class="text-2xl font-bold text-gray-800">Welcome to Actor Casting!</h1>
        <p class="mt-2 text-gray-600">Discover talented actors for your next production.</p>
      <% end %>
    </div>
  </main>
</div>